.addGoodsContainer {
  width: 50%;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table input,
.table select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.table input[type="file"] {
  padding: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.addButton,
.cancelButton,
.deleteButton {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton {
  background-color: #007bff;
  color: #fff;
}

.addButton:hover {
  background-color: #0056b3;
}

.cancelButton {
  background-color: #6c757d;
  color: #fff;
}

.cancelButton:hover {
  background-color: #5a6268;
}


.toastContainer {
  margin: auto;
}

.toastBody {
  color: #fff;
}

.imgPreview {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}