.memberForm {
    width: 100%;
    height: 70%;
    max-width: 550px; /* 최대 너비 설정 */
    padding: 20px; /* 폼 내부 여백 */
    border: 2px solid #ced4da; /* 테두리 스타일 */
    border-radius: 5px; /* 둥근 테두리 */
    background-color: #ffffff; /* 배경 색상 */
    box-shadow: 0 2px 4px rgba(141, 126, 126, 0.1); /* 그림자 효과 */
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 정렬 조정 */
  }
  
  .title{
    text-align: center;
  }
  
  .find_remove {
    padding-top: 0;
    font-size: 0;
    text-align: center;
  }
  
  .form-check label {
    margin-right: 20px;
  }
  
  .btn-primary {
    width: 100%;       /* form의 가로 길이에 맞춤 */
    padding: 4px;     /* 버튼의 높이를 늘리기 위해 패딩 조절 */
    font-size: 20px;  /* 텍스트 크기 조절 */
  }
  
  
  /* Login.css */
  .findRemove {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0 auto;
    display: inline-flex; /* 플렉스박스 사용 */
    gap: 10px; /* 아이템 간 간격 조절 */
    font-size: 12px;
    margin-top: 10px;
    margin-left: 80px;
  }
  
  .findRemove li:not(:last-child)::after {
    content: '|'; /* 구분자 추가 */
    margin-left: 10px;
  }
  