.loginForm {
    max-width: 500px;
    /* 박스 크기 조정 */
    margin: 15px auto;
    padding: 2.5rem;
    /* 패딩 조정 */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    position: relative;
    /* Relative positioning for absolute positioning of link */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 그림자 추가 */
}

.loginTitle {
    font-size: 2.5rem;
    /* 제목 글씨 크기 조정 */
    color: rgb(54, 54, 135);
    /* 제목 색상 */
    text-align: center;
    /* 제목 중앙 정렬 */
    margin-bottom: 2rem;
    /* 제목과 폼 간의 여백 */
}

.loginForm .form-control {
    font-size: 1.2rem;
    /* 입력 필드 글씨 크기 조정 */
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.75rem;
    /* 패딩 조정 */
    outline: none;
    width: 100%;
    margin-bottom: 1.5rem;
    /* 입력 필드 간의 여백 */
}

.loginForm .form-control:focus {
    border-bottom: 1px solid #b0b0b0;
    color: black;
}

.btn-primary {
    margin-top: 1.5rem;
    /* 버튼과 입력 필드 간의 여백 */
    width: 100%;
    border: 1px solid black;
    border: none;
    padding: 0.75rem;
    /* 버튼 패딩 조정 */
    font-size: 1.2rem;
    /* 버튼 글씨 크기 조정 */
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: darkblue;
}

.kakaobtn {
    text-align: center;
    margin-top: 1.5rem;
    /* 카카오 버튼과 로그인 폼 간의 여백 */
}

.kakaobtn img {
    max-width: 100%;
    border: none;
    cursor: pointer;
}

.findRemove {
    list-style-type: none;
    padding: 0;
    margin-top: 1.5rem;
    /* 회원가입 링크와 카카오 버튼 간의 여백 */
}

.findRemove li {
    position: absolute;
    /* Absolute positioning for precise placement */
    bottom: 10px;
    /* 위치 조정 */
    right: 10px;
    /* 위치 조정 */
    text-align: right;
    font-size: 1rem;
    /* 회원가입 링크 글씨 크기 조정 */
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.findRemove li:hover {
    color: #004d40;
}