.rightContent {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.couponList {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  margin-top: 20px; /* 상단 여백 추가 */
}

.couponItem {
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 10px; /* 여백 추가 */
}

.divider {
  width: 1px; /* 선의 두께 */
  height: 20px; /* 선의 길이 */
  background-color: #ccc; /* 선의 색상 */
}
.couponTabs {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-bottom: 20px; /* 상단 여백 추가 */
}

.couponList {
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 0; /* 여백 제거 */
}
