.signUpContainer {
  display: flex;
  justify-content: center;
  /* 가로 중앙 정렬 */
  margin-top: 50px;
  height: 1000px;
  /* 화면 전체 높이 */
}

.signUpForm {
  /* 최대 너비 설정 */
  width: 100%;
  height: 100%;
  max-width: 700px;

  /* 폼 내부 여백 */
  padding: 20px;
  padding-left: 50px;
  padding-right: 70px;

  /* 테두리 스타일 */
  border: 2px solid #ced4da;

  /* 둥근 테두리 */
  border-radius: 5px;

  /* 배경 색상 */
  background-color: #ffffff;

  /* 그림자 효과 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  box-sizing: border-box;

  background-color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 이메일 부분 css */
.inputContainer {
  display: flex;
  flex-direction: row;
  /* 한 줄로 표시 */
  align-items: center;
  /* 세로 중앙 정렬 */
  margin-bottom: 15px;
}

.emailPrefix {
  flex: 1;
  margin-right: 15px;
}

.atSign {
  margin-right: 15px;
}

.emailDomain {
  width: 155px;
  margin-right: 15px;
}

.selectContainer {
  display: flex;
  /* Flexbox 사용 */
  align-items: center;
  /* 세로 중앙 정렬 */
  margin-left: auto;
  /* 오른쪽으로 밀어 붙이기 */
  position: relative;
}

.domainSelect {
  width: 155px;
  padding: 10px;
  padding-left: 10px;
  /* 왼쪽 여백을 추가하여 텍스트를 왼쪽에서 떨어지게 합니다. */
  padding-right: 40px;
  /* 화살표 공간 확보 */
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  /* 둥근 모서리 추가 */
}

/* 생년월일 입력부분 css */
.dateSelector {
  display: flex;
  /* Flexbox를 사용하여 한 줄로 배치 */
  align-items: center;
  /* 세로 중앙 정렬 */
  gap: 10px;
  /* 요소 간의 간격 조정 */
  margin-bottom: 15px;
  /* 아래 여백 추가 */
}

.formSelect {
  width: 100px;
  /* 적절한 너비를 설정 */
  height: 40px;
  /* 높이 설정 */
  padding: 5px;
  /* 패딩 설정 */
  font-size: 16px;
  /* 글자 크기 설정 */
  border: 1px solid #ccc;
  /* 테두리 설정 */
}

.dateLabel {
  margin: 0 5px;
  /* 왼쪽과 오른쪽 여백 조정 */
}

/* Error Text */
.error {
  color: red;
  font-size: 15px;
  margin-left: 30px;
}

/* 이미지 버튼 css */
.profileInfo {
  position: relative; /* 드롭다운 메뉴를 프로필 버튼 옆에 배치하기 위해 사용 */
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* 버튼 아래 여백 추가 */
}

.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* 원형 이미지 */
  object-fit: cover; /* 이미지 비율 유지 */
}

/* 드롭다운 메뉴 */
.dropdownMenu {
  width: 150px; /* 원하는 너비로 설정 */
  position: absolute;
  top: 105%;
  right: 110px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 2px 5px; /* 위쪽 패딩을 줄임 */
}
.dropdownItem {
  padding: 5px; /* 패딩을 줄여서 크기를 작게 */
  margin: 0;
  text-align: left;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px; /* 원하는 크기로 조정 */
}
.dropdownItem:hover {
  background-color: #f0f0f0;
}
/* 이미지 선택을 위한 동그라미 버튼 */
.circleButton {
  position: absolute;
  bottom: 0; /* 이미지 버튼의 바로 아래에 위치하도록 조정 */
  right: 236px; /* 이미지 버튼의 오른쪽 끝에 위치 */
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc; /* 얇은 테두리 추가 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px; /* 내부 여백 추가 */
  cursor: pointer;
}

.icon {
  width: 18px; /* 원하는 너비 */
  height: auto; /* 비율 유지 */
}

.circleButton:hover {
  background-color: #ccc;
}

/* 전체적인 버튼들 꾸미기 */
.button {
  background-color: #c0c0c0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
  background-color: #606060;
  transform: scale(1.05);
  cursor: pointer;
}
